# Environment variables
.env

# Python virtual environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Exclude rag_app folder
rag_app/
extra rag/

# Exclude large PDF files
7. LangChain Document Loaders/Books/*.pdf

# OS files
.DS_Store
Thumbs.db

*.sqlite3
*.db
.streamlit/secrets.toml
chroma_db/
user_chats/
Books/
config.yaml
chat_history.json
user_chats/
persistent_chroma_db/